ROCKET_ADDR=:8080
OPENROUTER_API_KEY=
OPENROUTER_MODEL=

PGHOST=localhost
PGPORT=5452
PGDATABASE=rocket
PGUSER=rocket
PGPASSWORD=rocket
PGSSLMODE=disable

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ROCKET_PUBLIC_URL=http://localhost:3000

ROCKET_DEV_AUTH=true
